# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

scratch_pad.py